<header>
    <div class="row">
        <div class="col-xs-12 text-center">
            <img src="images/LOGO-BGUE11.png" style="width: 70%; margin: 10px"/>
        </div>
    </div>
</header>

<div class="container" style="padding-top: 20%">
    <div class="row">
        <div class="col-xs-12">
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-accent md-raised md-hue-1" ui-sref="track1">Empezar</md-button>
            </section>
        </div>
    </div>
</div>
