
<header>
    <h1 class="page-title screen-reader-text">TRACK 2</h1>
</header>

<div layout="column" layout-padding="" ng-cloak="" class="inputdemoIcons">
    <md-content layout-gt-sm="row" layout-padding="">
        <div class="col-xs-12 col-md-6">
            <md-input-container>
                <label>Title</label>
                <input ng-model="user.title">
            </md-input-container>

            <md-input-container>
                <label>Email</label>
                <input ng-model="user.email" type="email">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Name</label>
                <md-icon md-svg-src="scripts/frameworks/angular-material/img/icons/ic_person_24px.svg" class="name"></md-icon>
                <input ng-model="track2Ctrl.user.name" type="text">
            </md-input-container>

            <md-input-container md-no-float="" class="md-block">
                <md-icon md-svg-src="scripts/frameworks/angular-material/img/icons/ic_phone_24px.svg"></md-icon>
                <input ng-model="track2Ctrl.user.phone" type="text" placeholder="Phone Number">
            </md-input-container>

            <md-input-container md-no-float="" class="md-block">
                <md-icon md-svg-src="scripts/frameworks/angular-material/img/icons/ic_email_24px.svg" class="email"></md-icon>
                <input ng-model="track2Ctrl.user.email" type="email" placeholder="Email (required)" ng-required="true">
            </md-input-container>

            <md-input-container md-no-float="" class="md-block">
                <input ng-model="track2Ctrl.user.address" type="text" placeholder="Address">
                <md-icon md-svg-src="scripts/frameworks/angular-material/img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
            </md-input-container>

            <md-input-container class="md-icon-float md-icon-right md-block">
                <label>Donation Amount</label>
                <md-icon md-svg-src="scripts/frameworks/angular-material/img/icons/ic_card_giftcard_24px.svg"></md-icon>
                <input ng-model="track2Ctrl.user.donation" type="number" step="0.01">
                <md-icon md-svg-src="scripts/frameworks/angular-material/img/icons/ic_euro_24px.svg"></md-icon>
            </md-input-container>
        </div>
    </md-content>
</div>

<footer>
    <div class="container-fluid">
        <div class="pull-right">
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-accent md-raised md-hue-1" ui-sref="home">Finalizar</md-button>
            </section>
        </div>
    </div>
</footer>