html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Calibri', Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/* body*/
@media screen and (orientation: portrait)
{
    .back-img {
        background-image: url('../images/fondo_v.jpg') !important;
        background-size: 100% 100%;
    }

    .back-other {
        background-image: url('../images/fondo.png') !important;
        background-size: 100% 100%;
    }

    .fixed-b{
        position:fixed;
        height:50px;
        bottom:0;
        left:2%;
        right:2%;
        margin-bottom:20%;
    }
}
@media screen and (orientation: landscape)
{
    .back-img {
        background-image: url('../images/fondo_h.jpg') !important;
        background-size: 100% 100%;
    }

    .back-other {
        background-image: url('../images/fondo.png') !important;
        background-size: 100% 100%;
    }
    .fixed-b{
        position:fixed;
        height:50px;
        bottom:0;
        left:2%;
        right:2%;
        margin-bottom:4%;
    }
}

.no-background {
    background-color: transparent !important;
}

.footer-css {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.inputdemoIcons {
    /*
  .right-icon {
    position: absolute;
    top: 4px;
    right: 2px;
    left: auto;
    margin-top: 0;
  }
  */
}

.inputdemoIcons .inputIconDemo {
    min-height: 48px;
}

.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green;
}

.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue;
}

.inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
.inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
    color: red;
}

md-checkbox.md-checked.green .md-icon {
    background-color: rgba(0, 255, 0, 0.87);
}

.btn-footer {
    padding-right: 2%;
    padding-bottom: 2%;
}

.thead-default{
    background-color: rgba(0, 77, 0, 0.47);
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.va-m {
    vertical-align: middle;
}

.ml-5{
    margin-left: 5px;
}

.cabecera{
    width:100%;
    height: 5%;
}

.transparent {
    background-color: transparent !important;
}

.bk-form {
    background-color: rgba(244, 209, 108, 0.29) !important;
}

.md-button-table {
    min-width: 30px !important;
}

.pt-xs{
    padding-top: 10px;
}

.pl-sm{
    padding-left: 50px;
}
.p-sm{
    padding: 50px !important;
}

.mt-xs{
    padding-top: 10px;
}

.text-xs{
    font-size: 80%;
}

.btn-add{
    padding-left: 20% !important;
    margin-bottom: 30px !important;
}

.autocomplete li {
    border-bottom: 1px solid rgba(255, 246, 8, 0.45);
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    white-space: normal; }

.autocomplete li:last-child {
    border-bottom-width: 0; }

.autocomplete .item-title,
.autocomplete .item-metadata {
    display: block;
    line-height: 1; }

.autocomplete .item-title md-icon {
    height: 18px;
    width: 18px; }

md-input-container.md-bgueTheme-theme .md-input {
    font-size: 90%;
}